:root {
    --primaryColor: #0076de;
    --whiteColor: #fff;
    --blackColor: #333;
    --greyColor: #f6f8fa;
    --labelColor: #64b1f5;
    --yellowColor: #ffd723;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/image-2.jpg');
}


.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2.5rem;
    z-index: 10;
    color: var(--whiteColor);
    background-color: #072946;
}

.navbar-logo a {
    letter-spacing: 2.5;
    text-decoration: none;
    color: var(--whiteColor);

}

.navbar-menu {
    width: 400px;
    display: flex;
    justify-content: space-between;

}

.navbar-menu a {
    text-decoration: none;
    color: var(--whiteColor);
}

.menu-toggle {
    display: none;
}

.bar {
    width: 15px;
    height: 2px;
    margin: 3px auto;
    transition: all 0.3 ease-in-out;
    color: var(--whiteColor);
    cursor: pointer;
}

.btn1:hover {
    color: #3104B4;
    text-decoration: underline;
}

form {

    padding: 0 5rem;
    padding: 0 5rem;
}

.signinform {
    position: absolute;
    left: 35%;
    top: 13%;
    padding: 40px 50px;
    margin: 1px;
    background-color: #f0f0f0ad;

}

.title {
    position: relative;
    left: 30%;
    font-size: 2.5rem;
    color: #072946;
    margin-bottom: 20px;

}

.input-field {
    padding: 30px;
    max-width: 1000px;
    width: 300px;
    height: 55px;
    background-color: #ffffff00;
    margin: 40px 0;
    border-bottom: 0.5px solid #6E6E6E;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;


}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #6E6E6E;
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none;
    margin: 8px;
    border: #6E6E6E;
    line-height: 1;
    font-weight: 600;
    font-size: 1.6rem;

}

.input-field input:placeholder-shown {
    color: #aaa;
    font-weight: 500;
}

ul li {
    list-style-type: none;
    display: inline;
}

.btn {


    position: relative;
    left: 25%;
    width: 150px;
    height: 50px;
    outline: none;
    /* border-color: #6E6E6E; */
    border-radius: 48px;
    background-color: #072946;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px;
    margin-top: 30px;
    /* transition: all 0.5s; */

}

/* 
.btn:hover {
    text-emphasis-color: #3104B4;
    border-color: #3104B4;
    text-decoration-color: #3104B4;

} */

.social-icon:hover {
    color: #3104B4;
    border-color: #3104B4;

}

.social-text {

    position: relative;
    left: 9%;
    color: #6E6E6E;
    margin-top: 10px;
    margin-bottom: 1px;
}

.social-text a {
    color: #072946;
}

.social-media {
    margin-top: 30px;
}

.social-icon {

    position: relative;
    left: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid #6E6E6E;
    background-color: #6E6E6E;
    margin: 6px 0.45rem 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 60%;
    transition: all 0.5s;
}

.p {
    position: relative;
    top: 50px;
    bottom: 50px;
}